# ======================
# Backend (NestJS)
# ======================
# localhost with local user and password
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/xborg"

SESSION_SECRET="a-string-secret-at-least-256-bits-long"

# Public base URL of the backend API
BACKEND_URL="http://localhost:3000"

# OAuth (must match backend public URL)
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GOOGLE_CALLBACK_URL="http://localhost:3000/auth/validate/google"

# Frontend public URL (used by backend for redirects / absolute links)
FRONTEND_URL="http://localhost:4000"


# ======================
# Frontend (Next.js)
# ======================

# API endpoint exposed to the browser
NEXT_PUBLIC_API_URL="http://localhost:3000"

# ======================
# Docker / Local DB
# ======================
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="xborg"